<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Foods</h1>
    <p class="lead">Upload your grocery receipt to find nutrition and health information.</p>
  </div>
</div>

<div class="container col-md-6">
  {{#if this.model.length}}
    {{nutrient-info model=this.model}}
  {{/if}}

  {{#if this.model.length}}
    <div class="mt-3">
      {{#each this.model as |food|}}
        <p class="m-0">
          {{#link-to "food" food}}{{food.long_name}}{{/link-to}}
          <button type="button" class="btn btn-danger px-2 py-0 ml-1" {{action "deleteProduct" food}}>
            <h6 class="m-0">X</h6>
          </button>
        </p>
      {{/each}}
    </div>
  {{else}}
    <p>No food found</p>
  {{/if}}

  {{recommended-food}}

  <label for="">Upload a receipt: </label>
  {{file-upload
    url=uploadUrl
    addProducts=(action "addProducts")
  }}
  <div class="spinner-grow text-primary d-none" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
