<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Foods</h1>
    <p class="lead"><b>Upload your grocery receipt</b> or <b>search</b> to find nutrition and health information.</p>
    {{product-search-bar
      searchResults=[]
      updateRecipes=(action "updateRecipes")
      updateRecommendedFoods=(action "updateRecommendedFoods")}}

    <div class="mt-3">
      <label for="">Upload a receipt: </label>
      {{file-upload
        url=uploadUrl
        addProducts=(action "addProducts")
        displayErrorMsg=(action "displayErrorMsg")
      }}
      {{#if error}}
        <div class="alert alert-danger" role="alert">
          Hmm.. couldn't detect texts on the receipt. Please try searching products instead.
        </div>
      {{/if}}
      <div class="spinner-grow text-primary d-none" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

<div class="container col-md-6">
  {{#if this.model.length}}
    {{nutrient-info model=this.model}}
  {{/if}}

  {{#if this.model.length}}
    <div class="mt-3">
      {{#each this.model as |food|}}
        <p class="m-0">
          {{#link-to "food" food}}{{food.long_name}}{{/link-to}}
          <button type="button" class="btn btn-danger px-2 py-0 ml-1" {{action "deleteProduct" food}}>
            <h6 class="m-0">X</h6>
          </button>
        </p>
      {{/each}}
    </div>
  {{else}}
    <p>No food found</p>
  {{/if}}

  {{recipe-list products=this.model recipes=recipes}}

  {{recommended-food recommendedFoods=recommendedFoods}}
</div>
